<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/animations.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="icon" href="/img/logo-green.svg">
    <title>Green Market — Productos sin ingredientes de origen animal</title>
</head>

<body>
    <%- include('../partials/_header.ejs')  %>

    <div class="menu-categories top" id="menu">
        <img src="/img/icon-close.svg" alt="icon" class="close-icon" id="close-icon">
        <ul>
            <li><a href="/categorias/Granosysemillas">Granos y semillas</a></li>
            <li><a href="/categorias/Bebidas">Bebidas</a></li>
            <li><a href="">Aderezos</a></li>
            <li><a href="">Leches vegetales</a></li>
            <li><a href="">Quesos y fiambres veganos</a></li>
            <li><a href="">Congelados</a></li>
            <li><a href="">Cuidado personal</a></li>
        </ul>
    </div>
    
    <div class="main-wrapper">
        
        <div class="slider-container">
            <img src="/img/banner1.jpg" class="slider-item" alt="banner_1">
            <img src="/img/banner2.jpg" class="slider-item" alt="banner_2">
            <img src="/img/banner3.jpg" class="slider-item" alt="banner_3">
            <img src="/img/banner4.jpg" class="slider-item" alt="banner_4">
            <div class="controls">
                <div></div><div></div><div></div><div></div>
            </div>
        </div>

        <div class="msg" id="msg">
            <img src="/img/icon-check.svg" alt="icon">
            Producto agregado
        </div>

        <%- include('../partials/_categories.ejs') %>

        <section class="ofertas">
            <h2>Nuestras ofertas</h2>
            <img src="/img/arrow-left.svg" alt="left" id="arrow-left" class="arrows" name="left">
            <img src="/img/arrow-right.svg" alt="right" id="arrow-right" class="arrows" name="right">
            <div class="products-container">
                <% for (var i = 0; i < ofertas.ofertas.length; i++) { %>
                    <div class="card">
                        <img src="/data/thumbs/<%= ofertas.ofertas[i].imagen %>" alt="thumb" class="product-thumb">
                        <div class="container">
                            <h4 class="product-name"><%= ofertas.ofertas[i].nombre %></h4>
                            <h5 class="product-brand"><%= ofertas.ofertas[i].marca %></h5>
                            <p class="product-price">$ <%= ofertas.ofertas[i].precio %></p>
                        </div>
                    </div>
                <% } %>
            </div>
        </section>
    
        <section class="masvendidos">
            <h2>Más populares</h2>
            <div class="products-container">
                <% for (var i = 0; i < masvendidos.masvendidos.length; i++) { %>
                    <div class="card">
                        <img src="/data/thumbs/<%= masvendidos.masvendidos[i].imagen %>" alt="thumb" class="product-thumb">
                        <div class="container">
                            <h4 class="product-name"><%= masvendidos.masvendidos[i].nombre %></h4>
                            <h5 class="product-brand"><%= masvendidos.masvendidos[i].marca %></h5>
                            <p class="product-price">$ <%= masvendidos.masvendidos[i].precio %></p>
                        </div>
                    </div>
                <% } %>
            </div>
        </section>
    
        <%- include('../partials/_loginModal.ejs') %>
        <%- include('../partials/_productModal.ejs') %>
        
    </div>

    <%- include('../partials/_footer.ejs') %>

    <div class="mask" id="mask"></div>
    <div class="loading">
        <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </div>
    
    <script src="/js/main.js"></script>
    <script src="/js/SlideShow.js"></script>
    <script src="/js/ProductsSlider.js"></script>
</body>
</html>