<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="icon" href="/img/favicon.svg">
    <title>EVERGREEN | Productos por categoría</title>
</head>

<body>
    <%- include('../partials/_header.ejs')  %>
    <section id="productos">
        <div class="wrapper flex fr" style="margin-top: 3em;">
            <hr class="line center-v">
            <h2><%= productos[0].categoria.toUpperCase() %> </h2>
            <hr class="line">
        </div>
        <div class="wrapper flex fr" id="content-ofertas" style="text-align: center;">
            <% for (var i = 0; i < productos.length; i++) { %>
            <div class="card">
                <img src="/data/thumbs/<%= productos[i].imagen %>" alt="thumb" class="product-thumb">
                <p class="product-content"><%= productos[i].cantidad + " " + productos[i].unidad %></p>
                <hr class="separator">
                <div class="container fc">
                    <h4 class="product-name"><%= productos[i].nombre %></h4>
                    <h5 class="product-brand"><%= productos[i].marca %></h5>
                    <p class="product-price">$ <%= productos[i].precio %></p>
                </div>
            </div>
            <% } %>
        </div>
    </section>

    <section class="modal">
        <div style="position: relative;">
            <p class="product-content">390 mL</p>
            <img src="" alt="thumb" class="thumb-big">
        </div>
        <div class="product-info">
            <h1>Mayonesa</h1>
            <p class="product-brand">Follow your heart</p>
            <hr>
            <p class="price">$ 265</p>
            <div class="buy-panel">
                <p>Cantidad: </p>
                <input type="text" value="1" id="cantidad" maxlength="2" disabled>
                <div class="buy-controls center-v">
                    <img src="/img/plus.svg" alt="plus" id="plus">
                    <img src="/img/minus.svg" alt="minus" id="minus">
                </div>
                <button class="button" id="agregar">Agregar</button>
            </div>
        </div>
        <img src="/img/icon-close.svg" alt="icon-close" id="icon-close">
    </section>

    <div class="dark-layer"></div>

    <%- include('../partials/_footer.ejs') %>

    <script src="/js/main.js"></script>
    <script src="/js/MenuCategories.js"></script>
    <script src="/js/SearchBox.js"></script>
    <script src="/js/ModalWindow.js"></script>
    <script src="/js/ItemsCounter.js"></script>
</body>

</html>