<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/animations.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="icon" href="/img/favicon.svg">
    <title>Green Market Uruguay</title>
</head>

<body>
    <%- include('../partials/header') %>

        <div class="slider-container">
            <img src="" class="slider-item" alt="banner">
            <img src="" class="slider-item" alt="banner">
            <img src="" class="slider-item" alt="banner">
            <img src="" class="slider-item" alt="banner">
            <img src="" class="slider-item" alt="banner">
            <div class="controls">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <script src="/js/slideshow.js"></script>
        </div>

        <%- include ('../partials/msg') %>

        <%- include('../partials/ofertas') %>

        <div class="banner-container" style="width: 70%; height: 450px; background: gray;">
                  
        </div>

        <%- include('../partials/populares') %>

        <div class="banner-container" style="width: 70%; height: 700px; background: gray;">
            
        </div>

        <div class="banner-container">
                        
        </div>

        <%- include('../partials/product') %>

        <%- include('../partials/login') %>

        <%- include('../partials/footer') %>

        <div class="mask" id="mask"></div>

        <%- include('../partials/loading') %>

        <script defer src="/js/main.js"></script>
        <script defer src="/js/products.js"></script>
</body>
</html>